* {
    box-sizing: border-box;
    color: #666666;
}

h1 { 
    padding: 30px;
    background:#4aaaa5;
    color: #ffffff;
}

h2 {
    border-bottom: 4px solid #dddddd;
    font-family: Cambria, Cochin, 'Georgia', Times, Times New Roman, serif;
    margin:20px;
}

body {
    font-family: 'Cambria', Cochin, Georgia, Times, Times New Roman, serif;
    background: lightgrey;
}

nav {
    align-content: right;
}

.container {
    margin:25px;
    border: 3px solid lightgray;

}

.main-container {
    margin:5%;
    line-height: 1.5;
    font-size: 16px;
}

.input-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 980px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #dddddd;
}


footer {
    bottom: 0;
    width: 100%;
    padding: 30px;
    text-align: center;
    margin-top: 20%;
    background: gray;
    border-top: 10px solid #4aaaa5;

}